/*Navbar*/

.navbar-default
{
	background-color:transparent;
	border-color: transparent;
	position: unset;
}
.navbar-nav
{
	font-family:Segoe UI;
	font-weight:200;
	font-size:large;
}
.navbar-default .navbar-nav li a
{
	color: white;
}
.navbar-default .navbar-nav li a:hover
{
	color: #1979ca;
}
.logo img
{
	margin-top: 1em;
}
body
{
	background-image: url(Ima.jpg);
border-bottom-right-radius: 
	background-position:center;
	
}

